<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.com/extras/spring-security"><head>
    <head th:insert="~{layout/layout :: head}"></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web para venta de muebles de madera">
    <meta name="keywords" content="madera, puertas, ventanas, muebles, hogar, casa, aberturas">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>Aberturas Alverdi</title>
</head>
<body>
    <header th:insert="~{layout/layout :: header}"></header>
    <section class="carrito-section">
        <h1>Detalle de la compra</h1>
        <div id="cart-items">
            <div th:each="item : ${cartItems}" class="cart-item" th:attr="id='item-' + ${item.id}">
                <div class="item-details">
                    <span class="item-name" th:text="${item.name}">Nombre del Producto</span>
                    <span class="item-price">
                        $<span th:text="${item.price * (1 - item.discount / 100)}">Precio Unitario</span>
                    </span>
                </div>
                <div class="item-controls">
                    <button class="quantity-button"  th:attr="onclick='updateQuantity(' + ${item.id} + ', -1)'">-</button>
                    <span class="quantity-display" th:attr="id='quantity-' + ${item.id}" >1</span>
                    <button class="quantity-button"  th:attr="onclick='updateQuantity(' + ${item.id} + ', 1)'">+</button>
                </div>
                <span class="item-total" th:attr="id='item-total-' + ${item.id}">
                    Total: $<span th:text="${item.price * (1 - item.discount / 100) * item.quantity}">0.00</span>
                </span>
                <button class="remove-button" th:attr="onclick='removeCartItem(' + ${item.id} + ')'"><i class="bi bi-trash3-fill"></i></button>
            </div>
        </div>
        <div class="cart-deliver">
            <h3>Delivery</h3>
            <p>Seleccione el metodo de retiro que desee</p>
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined">Retiro en local</label>

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Envio a domicilio</label>
        </div>
        <div class="cart-total">
            Total: $<span id="cart-total" th:text="${total}">0</span>
        </div>
<!--        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" onclick="MP()">-->
<!--            Comprar-->
<!--        </button>-->
        <div id="wallet_container"></div>
    </section>
    <hr class="custom-hr">
    <footer th:insert="~{layout/layout :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/carrito.js}"></script>
    <script th:src="@{/js/mercadopago.js}"></script>
</body>
</html>